@import "tailwindcss";

body {
  background-color: #fafafa;
  color: #262626;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}